{% extends 'base.html.twig' %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <a href="{{ url('list_user') }}" class="float-right btn btn-secondary">
        <i class="fas fa-chevron-left"></i>
        <span>Alle Komponentenarten anzeigen</span>
    </a>
    <h1>Komponentenarten hinzufügen</h1>
    {{ form_start(form) }}
    {{ dump(form) }}
    <div id="form-page">
        {{ form_row(form.komponentenart) }}
        {{ form_row(form.bezeichnunge) }}
    </div>
    {{ form_row(form.submit) }}
    <a href="#" id="form_neu" class="btn btn-info">Neu</a>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        var addNewFieldButton = $('#form_neu');

        addNewFieldButton.click(function () {
            var form = $(this).closest('form');
            var data = {};
            data['isClick'] = true;
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: data,
                success: function(html) {
                    $("#form-page").append($(html).find('#form_bezeichnung'));
                }
            });
        });
    </script>
{% endblock %}
