{% extends 'base.html.twig' %}

{% block body %}
    <h1>Benutzer Liste</h1>
    <form action="{{ app.request.attributes.get("_controller") }}" method="POST">
        <table class="table table-striped">
            <thead>
                {% for data in userHeader %}
                    <th scope="col">{{ data }}</th>
                {% endfor %}
                <th scope="col">Aktion</th>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                       <th scope="col">{{ user.id }}</th>
                       <td>{{ user.username }}</td>
                       <td>{{ user.email }}</td>
                       <td>
                           {% for role in user.roles %}
                               {{ role }} <br>
                           {% endfor %}
                       </td>
                       <td>
                           <div class="btn-group">
                                <a href="{{ url('delete_user', {'id': user.id}) }}" class="btn btn-danger" role="button">
                                    Löschen
                                </a>
                                <a href="{{ url('edit_user', {'id': user.id}) }}" class="btn btn-info" role="button">
                                    Bearbeiten
                                </a>
                           </div>
                       </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}
