{% extends 'base.html.twig' %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% form_start(form) %}
    {% form_widget(form) %}
    {% form_end(form) %}
     <a href="#" class="float-right btn btn-success">
        <i class="fas fa-plus-circle"></i>
        <span>Komponente erstellen</span>
    </a>
    <h1>Komponentenverwaltung</h1>
    {% for art, komp in values %}
    <h2> Komponentenart: {{art}} </h2>
    <table class="table table-striped">
        <thead>
                {% for val in headers[art] %}
                <th scope="col">{{ val }}</th>
                {% endfor %}
            <th scope="col">Aktion</th>
        </thead>
        <tbody>
        {% for id,rows in komp %}
            <tr>
                    {% for val in headers[art] %}
                        <td>
                            {{values[art][id][val]}} 
                        </td>
                    {% endfor %}

            </tr>

        {% endfor %}

           
        </tbody>
    </table>
    {% endfor %}

{% endblock %}